.div-button{
    width: 225px;
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
}

.qualquer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: end;
}

.button{
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: var(--cinza-2);
}

.button-rosa{
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: var(--rosa);
    color: var(--branco);
}

.button:focus{
    background-color: var(--rosa);
    color: var(--branco);
}

@media(max-width:700px){
    .button {
        padding: 1px;
        border: none;
        border-radius: 4px;
        background-color: var(--cinza-2);
        font-size: 11px;
        margin-left: 5px;
    }

    .h3-navBar{
        font-size: 14px;
        font-weight: 700;
    }

    .qualquer{
        margin-top: 20px;
        margin-bottom: 10px;
    }
}

