html{
    background-color: var(--cinza-3);
}

.div-inicial{
    width: 214px;
}

.preto{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-top: 70px;
}

.img-inicial{
    width: 40%;
    max-width: 450px;
    margin-left: 30px;
}

.h2-rosa{
    color: var(--rosa);
    font-weight: 900;
    font-size: 30px;
}

.h2-branco{
    color: var(--branco);
    font-weight: 900;
    font-size: 30px;
}

.texto-inicial{
    width: 222px;

    font-weight: 800;
    font-size: 28px;

    color: var(--branco);
}

.descricao-inicial{
    font-weight: 400;
    font-size: 16px;

    color: var(--branco);
}

.botao-inicial{
    width: 185px;
    padding: 10px;
    color: var(--branco);
    background-color: var(--rosa);
    border: none;
    border-radius: 6px;
}

@media(max-width:700px){
    .img-inicial{
        width: 56%;
        max-width: 450px;
        margin-left: 4px;
    }

    .h2-branco{
        color: var(--branco);
        font-weight: 900;
        font-size: 20px;
    }

    .texto-inicial{
        font-size: 19px;
    }

    .botao-inicial{
        width: 150px;
    }

    .h2-rosa{
        font-size: 25px;
    }
}

@media(max-width:500px){
    .div-inicial{
        width: 130px;
    }

    .texto-inicial{
        width: 144px;
    }

    .preto{
        margin-top: 100px;
    }

    
}